[data-tab-content] {
  display: none;
}


.thumbnail {
  max-width: 200px;
}



/*.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;

  
  
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  
  
  
}

*/



.header {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 20px 10px; 
}


@media screen and (max-width: 500px) {

   .header {
   
    display: block;
   
  }

}

.button {
  background-color: #194360;
  border-radius: 10px;
  color:#E7F5FE;
}







.active[data-tab-content] {
  display: block;
  
}


.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding: 10px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);

  
}

.tab {

  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  transition: all 100ms;
}


.tab:hover {
  background: linear-gradient(180deg,  #32546D 0%, #194360 100%);
  border-radius: 10px;
  transform: translateY(-1px);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);

}

.tab:active {
  background: linear-gradient(180deg,  #194360 0%, #32546D 100%);
  border-radius: 10px;
  transform: translateY(0);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);

}

.tab.active {
  background: linear-gradient(180deg,  #32546D 0%, #194360 100%);
  border-radius: 10px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);

}


.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background-color: #08253A;
  
}

/* Header/Logo Title */
.banner {
  overflow: hidden;
  
  text-align: center;
  
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/banner.jpg");*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), #08253A), url("media/banner.jpg");


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  

}

/* Page Content */
.content {padding:0px;}




b{
  margin: 0px;
  padding: 0px;

}


h1 {text-align: center;
  color:#E7F5FE;
}


h4{
text-align: center;
  color:#E7F5FE;
}

p {
  text-align: center;

  
  padding: 0px;
  margin: 20px;	
  margin-left: 0px;
  margin-right: 0px;
}
div {text-align: center;}

#blog {
  border: 2px ;
  border-radius: 10px;
  background: linear-gradient(180deg, #32546D 0%, #194360 100%);
  
  padding: 20px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);

  padding-top: 1px;
  padding-bottom: 1px;
  

  max-width: 800px;
  margin: auto;			  
  color:#E7F5FE;
}

#otherformat {
  border: 2px;
  border-radius: 10px;
  background: linear-gradient(180deg, #32546D 0%, #194360 100%);
  padding: 20px;
  max-width: 800px;
  margin: auto;			  
  color:#E7F5FE;

}


img{
  max-width: 100%;
  max-height: 100%;
  display: block; 
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-10 {
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);

  
  align-items: center;
  padding: 6px 14px;
  font-family: Arial;
  border-radius: 10px;
  border: none;
  transition: all 100ms;
  
  color: #fff;
  background: linear-gradient(180deg, #32546D 0%, #194360 100%);
   background-origin: border-box;
  box-shadow: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:hover {
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);

  cursor: pointer;
  transform: translateY(-1px);
}

.button-10:active {
  background: linear-gradient(180deg,  #194360 0%, #32546D 100%);
  

  transform: translateY(0);
}





/*
#myBtn {
  transition: all 100ms;
  color: #fff;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: linear-gradient(180deg,  #32546D 0%, #194360 100%);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  
}

#myBtn:hover {
  background-color: linear-gradient(180deg, #32546D 0%, #194360 100%);
  transform: translateY(-1px);
}

#myBtn:active {
  background: linear-gradient(180deg,  #194360 0%, #32546D 100%);
  transform: translateY(0);
}

div.b {
  text-align: left;
}
*/


